<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Clinic</property>
        <property name="hibernate.connection.username">Clinic</property>
        <property name="hibernate.connection.password">123</property>
        <property name ="show_sql">true</property>
        <mapping class="com.ubt.healthcare.dto.AdminClinic"/>
        <mapping class="com.ubt.healthcare.dto.Person"/>
        <mapping class="com.ubt.healthcare.dto.Gender"/>
        <mapping class="com.ubt.healthcare.dto.Religion"/>
        <mapping class="com.ubt.healthcare.dto.Doctor"/>
        <mapping class="com.ubt.healthcare.dto.Contact"/>
        <mapping class="com.ubt.healthcare.dto.Bill"/>
        <mapping class="com.ubt.healthcare.dto.BookAppointment"/>
        <mapping class="com.ubt.healthcare.dto.Education"/>
        <mapping class="com.ubt.healthcare.dto.EmergencyInformation"/>
        <mapping class="com.ubt.healthcare.dto.Guardian"/>
        <mapping class="com.ubt.healthcare.dto.HRManager"/>
        <mapping class="com.ubt.healthcare.dto.Medicine"/>
        <mapping class="com.ubt.healthcare.dto.Nurse"/>
        <mapping class="com.ubt.healthcare.dto.Order1"/>
        <mapping class="com.ubt.healthcare.dto.Patient"/>
        <mapping class="com.ubt.healthcare.dto.Pharmacist"/>
        <mapping class="com.ubt.healthcare.dto.PharmacyManager"/>
        <mapping class="com.ubt.healthcare.dto.Prescription"/>
        <mapping class="com.ubt.healthcare.dto.PrescriptionMedicines"/>
        <mapping class="com.ubt.healthcare.dto.Receptionist"/>
        <mapping class="com.ubt.healthcare.dto.Visit"/>
        <mapping class="com.ubt.healthcare.dto.Vitals"/>
        <mapping class="com.ubt.healthcare.dto.EducationProgram"/>
        <mapping class="com.ubt.healthcare.dto.EducationType"/>
        <mapping class="com.ubt.healthcare.dto.PersonEducation"/>
        <mapping class="com.ubt.healthcare.dto.BillPayment"/>
        <mapping class="com.ubt.healthcare.dto.OrderItem"/>
        <mapping class="com.ubt.healthcare.dto.Address"/>
        <mapping class="com.ubt.healthcare.dto.City"/>
        <mapping class="com.ubt.healthcare.dto.Country"/>
        <mapping class="com.ubt.healthcare.dto.ApplicationRole"/>
        <mapping class="com.ubt.healthcare.dto.LoginGroup"/>
        <mapping class="com.ubt.healthcare.dto.GroupRole"/>
        <mapping class="com.ubt.healthcare.dto.MartialStatus"/>
        <mapping class="com.ubt.healthcare.dto.Occupation"/>
        <mapping class="com.ubt.healthcare.dto.PersonArchive"/>
        <mapping class="com.ubt.healthcare.dto.UserGroup"/>
        <mapping class="com.ubt.healthcare.dto.DrugManufacturer"/>
        <mapping class="com.ubt.healthcare.dto.PackageType"/>
        <mapping class="com.ubt.healthcare.dto.Inventory"/>
        <mapping class="com.ubt.healthcare.dto.InventoryType"/>
        <mapping class="com.ubt.healthcare.dto.PatientInfectiousDiseaseHX"/>
        <mapping class="com.ubt.healthcare.dto.InfectiousDisease"/>
        <mapping class="com.ubt.healthcare.dto.PatientMentalHealthHX"/>
        <mapping class="com.ubt.healthcare.dto.PatientSkinHX"/>
        <mapping class="com.ubt.healthcare.dto.PatientVaccineHX"/>
        <mapping class="com.ubt.healthcare.dto.PatientVitalHX"/>
        <mapping class="com.ubt.healthcare.dto.MentalHealth"/>
        <mapping class="com.ubt.healthcare.dto.Skin"/>
        <mapping class="com.ubt.healthcare.dto.Vaccine"/>
        <mapping class="com.ubt.healthcare.dto.InventoryArchive"/>
        <mapping class="com.ubt.healthcare.dto.Food"/>
        <mapping class="com.ubt.healthcare.dto.PackageType"/>
        <mapping class="com.ubt.healthcare.dto.PatientFoodAllergylHX"/>
        <mapping class="com.ubt.healthcare.dto.PatientMedicineAllergy"/>
        <mapping class="com.ubt.healthcare.dto.PatientRelative"/>
        <mapping class="com.ubt.healthcare.dto.PatientSurgicalHX"/>
        <mapping class="com.ubt.healthcare.dto.RelativeType"/>
        <mapping class="com.ubt.healthcare.dto.Surgical"/>
        <mapping class="com.ubt.healthcare.dto.ScheduleStatus"/>
        <mapping class="com.ubt.healthcare.dto.Schedule"/>

        
      
    </session-factory>
</hibernate-configuration>
